.board .tasks button {
    cursor: pointer;
    border: none;
    background: transparent;
    transition: 0.3s;
    opacity: 0.5;
}

.board .tasks button:is(:active, :hover) {
    opacity: 1;
}

.board .tasks .columns {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .board .tasks .columns {
        flex-direction: row;
    }
}

.board .tasks .column {
    flex: 1;
    display: grid;
    grid-template-rows: 48px 1fr;
    gap: 0.5rem;
}

.board .tasks .column-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cbd5e1;
    color: #475569;
}

.board .tasks .column-title h3 {
    font-size: 1rem;
}

.board .tasks .column-title h3::after {
    content: attr(data-tasks);
    background: lightblue;
    margin-left: 0.25rem;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
}

.board .tasks .column-title button {
    margin-left: auto;
    font-size: 2rem;
}

.board .tasks .task-list {
    min-height: 48px;
    display: grid;
    align-content: start;
    gap: 0.5rem;
}

.board .tasks .task-list > * {
    background: rgb(230, 233, 237);
    border-radius: 0.25rem;
    padding: 0.875rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 48px;
}