.board .tasks .task {
    cursor: move;
    transition: 0.3s;
}

.board .tasks .task.dragging {
    cursor: default;
    box-shadow: none;
    opacity: 0.5;
}

.board .tasks .task.dragging * {
    visibility: hidden;
}

.board .tasks .task:not(.dragging):hover {
    background: #f6f6f6;
}

.board .tasks .task .name {
    font-weight: 600;
}

.board .tasks .task .description {
    margin-top: 0.5rem;
    border-top: 1px solid #cecece;
}

.board .tasks .task .profiles {
    margin-top: 0.875rem;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.board .tasks .task .profiles img {
    border-radius: 50%;
    border: 1px solid #cecece;
    width: 30px;
    height: 30px;
}

.board .tasks .task menu {
    margin-top: 0.875rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.board .tasks .task button {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.25rem;
}